@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100;400;700&family=Cousine&display=swap');

:root {
  --primary-color: #B40CFF ;
  --secondary-color: #FFD909 ;
  --text-color: #454242;
  --background-color: rgb(235, 232, 232);
  --big-text: 'Big Shoulders Text', cursive;
  --small-text: 'Cousine', monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.6;
  background-color: var(--background-color);
}

.gio{
  background-color: #333;
}

.containerAll{
  filter: blur(25px);
  position: relative;
  text-align: center;
  
}

h1, h2, h3, h4, h5, h6, p,
a {
  text-decoration: none;
  color: var(--text-color);
}

.picsBy{
  text-align: center;
  opacity: 1;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 48vh;
  padding: 0 1rem;
  z-index: 2;
}

.picsBy h1{
  color: var(--primary-color);
  font-size: 3rem;
  font-family: 'Big Shoulders Text', cursive;
  font-weight: bolder;
}

li {
  list-style-type: none;
}

.glass {
	background: rgba(18, 13, 15, 0.1);
	padding: 10px 10px;
	border-radius: 20px;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

/****
Flexbox
*****/

.flex{
  display: flex;
}

/****
Containers
*****/
.container{
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  overflow: visible;
}

.description-container{
  margin-bottom: 1.6rem;
  /* padding-bottom: 1rem; */
  background-color: var(--background-color);
  /* position: fixed, block; */
  /* top: inherit; */
}
.description-container .title-logo{
  justify-content: center;
}

.title-logo p{
  text-align: left;
}


/****
Grid TEMPLATES
*****/
 
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.contact .grid{
  grid-template-columns: repeat(20% 40% 40%);
  grid-template-rows: 1fr;
  gap: 2px;
}


/****
Images
*****/

img {
  width: 100%;
}

.about img{
  max-width: 40%;
  border-radius: 8px;
  box-shadow: 2px 2px 4px var(--text-color);
}

.cityandguilds img{
  max-height: 100px;
}

#C2bK{
  align-self: center;
  height: 3.8rem;
  width: auto;
  justify-content: baseline;
}


/****
Font Sizes
*****/
.text-center{
  text-align: center;
}
.lead{
  font-size: 20px;
}
.xsm{
  font-size: 0.8rem;
}
.sm{
  font-size: 1rem;
}
.mds{
  font-size: 1.6rem;
}
.md{
  font-size: 2rem;
}
.mdl{
  font-size: 2.6rem;
}
.lg{
  font-size: 3rem;
}
.xl{
  font-size: 4rem;
}

.big-shoulders{
  font-family: 'Big Shoulders Text', cursive;
}

.cousine{
  font-family: 'Cousine', monospace;
}

/****
Font Colors
*****/
.text-primary{
  color: var(--primary-color);
}
.text-secondary{
  color: var(--secondary-color);
}
.text-dark{
  color: var(--text-color);
}

/***** 
      Elements
            ******/

/******
Navibar
*******/
.navibarWrapper nav li{
  margin: 0 1rem;
}

.navibarWrapper nav{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navibarWrapper:not(#about) {
  background-color: var(--background-color);
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

nav ul li a:hover{
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-style: 5px dashed var(--primary-color);
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 3px;
}

.dropdown,
.dropdown-travel{
  position: relative;
}

.dropdown-menu,
.dropdown-menu-travel{
  position: absolute;
  min-width: 130px;
  top: 3.5rem;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
  left: 1rem;
  background-color: var(--background-color);
  font-family: 'Big Shoulders Text', cursive;
  padding: 0.5rem;
  border-radius: .25rem;
  box-shadow: 2px 2px 4px #333;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out; 
}

.dropdown-menu-travel{
  top: 2.2rem;
  left: 2.2rem;
}

 .active > .link + .dropdown-menu,
 .active > .link + .dropdown-menu-travel{ 
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
 } 


/******
  Forms
*******/
.form-container
{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: static;
}

form{
  font-family: var(--small-text);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  width: 80%;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 4px;
 
}

.form-control{
  width: 80%;
  margin-bottom: 2.5rem;
  margin-top: 0.5rem ;
  padding: 0 0.5rem;
  position: relative;
  /* z-index: -1; */
}

.form-control input
{
  background: var(--background-color);
  border: none;
  border-bottom: 1px solid var(--text-color);
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem 0;

}

.form-control textarea{
  background: var(--background-color);
  border: none;
  border-bottom: 1px solid var(--text-color);
  width: 100%;
  font-size: 1rem;
  padding: 1rem 0;
}

.form-control label
{
  position: absolute;
  display: block;
  left: 0;
  top: 1rem;
  padding-left: 0.5rem;
}

.form-control label span{
  display: inline-block;
  font-size: 1rem;
  min-width: 5px ;
  transition: 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55);
  /* position: static; */
  /* z-index: -1; */
}

input:focus,
textarea:focus{
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

/* an input or textarea are in "focus" when they have been sulected and are ready for the input of text */


.form-control input:focus + label span,
.form-control input:valid + label span
{
  color: var(--primary-color);
  transform: translateY(-2rem);

}

.form-control textarea:focus + label span,
.form-control textarea:valid + label span
{
  color: var(--primary-color);
  transform: translateY(-3rem);
}

#submit {
  margin: 2rem 0;
  display: block;
  height: 3rem;
  width: 7rem;
  background-color: #efefef;
  border: 1px solid var(--text-color);
  border-radius: 2px;
}

#submit:hover{
  transform: scale(120%);
  color: var(--primary-color); 
  cursor: pointer;
  transition: transform 300ms ease;
  border-color: var(--primary-color);
}


/******
Galleries
*******/
.theatreGalleryWrap .grid > :first-child,
.galleryWrap .grid a:first-child{
  grid-column: 1/ span 2 ;
  grid-row: 1 / span 2;
}

.galleryWrap .grid a:nth-child(5){
  grid-column: 2/ span 2   ;
  height: 100%;
}
.galleryWrap .grid a:nth-child(7){
  grid-column: 2 / span 2 ;
  grid-row: 4  / span 2;
}
.galleryWrap .grid a:nth-child(10){
  grid-column: 1 / span 2 ;
  grid-row: 6  / span 2;
}
.galleryWrap .grid a:nth-child(12){
  grid-column: 2 / span 2 ;
  grid-row: 8  / span 2;
}
/* .galleryWrap .grid a:nth-child(15){ */
  /* grid-column: 1 / span 2 ;  */
  /* grid-row: 10  / span 2;  */
/* } */

.galleryWrap .grid a:nth-child(15){
  grid-column:1/span 2;
  grid-row:10 / span 2;
}

.galleryWrap .grid a:nth-child(16){
  grid-column: 2 / span 2 ; 
  grid-row: 12  / span 2; 
}
.galleryWrap .grid a:nth-child(17){
  grid-column: 3 / span 1 ; 
  grid-row: 10  / span 1; 
}
.galleryWrap .grid a:nth-child(18){
  grid-column: 3 / span 1 ; 
  grid-row: 11  / span 1; 
}
.galleryWrap .grid a:nth-child(19){
  grid-column: 1 / span 1 ; 
  grid-row: 13  / span 1; 
}
.galleryWrap .grid a:nth-child(20){
  grid-column: 1 / span 2 ; 
  grid-row: 15  / span 1; 
}

.theatreGalleryWrap .grid > :nth-child(5){
  grid-column: 2 /span 2;
  grid-row: 3 /span 2;
}
.theatreGalleryWrap .grid > :nth-child(8){
  grid-column: 1 /span 2;
  grid-row: 5 /span 2;
}

/* SOCIAL MATTERS GALLERY */

.socialGalleryWrap .grid a:first-child{
  grid-column: 1 /span 3;
  grid-row: 1 /span 1;
}
 .socialGalleryWrap .grid a:nth-child(2){
  grid-column: 1 /span 2;
  grid-row: 2 /span 2;
}
.socialGalleryWrap .grid a:nth-child(3){
  grid-column: 3 /span 1;
  grid-row: 2 /span 2;
}
.socialGalleryWrap .grid a:nth-child(4){
  grid-column: 2 /span 2;
  grid-row: 4 /span 2;
}
.socialGalleryWrap .grid a:nth-child(5){
  grid-column: 1 /span 1;
  grid-row: 4 /span 2;
}
.socialGalleryWrap .grid a:nth-child(6){
  grid-column: 1 /span 2;
  grid-row: 6 /span 1;
} 
.socialGalleryWrap .grid a:nth-child(7){
  grid-column: 2 /span 2;
  grid-row: 7 /span 1;
} 

/* TRAVEL ITALY GALLERY */
.italyGalleryWrap .grid a:first-child{
  grid-column: 1 /span 3;
  grid-row: 1 /span 4;
}
.italyGalleryWrap .grid a:nth-child(2){
  grid-column: 1 /span 3;
  grid-row: 5 /span 2;
}
.italyGalleryWrap .grid a:nth-child(3){
  grid-column: 1 /span 1;
  grid-row: 7 /span 1;
}
.italyGalleryWrap .grid a:nth-child(4){
  grid-column: 2 /span 2;
  grid-row: 7 /span 1;
}
.italyGalleryWrap .grid a:nth-child(5){
  grid-column: 1 /span 2;
  grid-row: 8 /span 1;
}
.italyGalleryWrap .grid a:nth-child(6){
  grid-column: 3 /span 1;
  grid-row: 8 /span 1;
}
.italyGalleryWrap .grid a:nth-child(7){
  grid-column: 1 /span 1;
  grid-row: 9 /span 1;
}
.italyGalleryWrap .grid a:nth-child(8){
  grid-column: 2 /span 2;
  grid-row: 9 /span 1;
}
.italyGalleryWrap .grid a:nth-child(9){
  grid-column: 1 /span 1;
  grid-row: 10 /span 1;
}
.italyGalleryWrap .grid a:nth-child(10){
  grid-column: 2 /span 2;
  grid-row: 10 /span 1;
}
.italyGalleryWrap .grid a:nth-child(11){
  grid-column: 1 /span 2;
  grid-row: 11 /span 1;
}
.italyGalleryWrap .grid a:nth-child(12){
  grid-column: 3 /span 1;
  grid-row: 11 /span 1;
}
.italyGalleryWrap .grid a:nth-child(13){
  grid-column: 1/span 2;
  grid-row: 12 /span 1;
}
.italyGalleryWrap .grid a:nth-child(14){
  grid-column: 3/span 1;
  grid-row: 12 /span 1;
}
.italyGalleryWrap .grid a:nth-child(15){
  grid-column: 1/span 1;
  grid-row: 13 /span 1;
}
.italyGalleryWrap .grid a:nth-child(15){
  grid-column: 1/span 1;
  grid-row: 13 /span 1;
}
.italyGalleryWrap .grid a:nth-child(16){
  grid-column: 2/span 2;
  grid-row: 13 /span 1;
}
.italyGalleryWrap .grid a:nth-child(17){
  grid-column: 1/span 2;
  grid-row: 14 /span 1;
}
.italyGalleryWrap .grid a:nth-child(18){
  grid-column: 3/span 1;
  grid-row: 14 /span 1;
}
.italyGalleryWrap .grid a:nth-child(19){
  grid-column: 3/span 1;
  grid-row: 14 /span 1;
}
.italyGalleryWrap .grid a:nth-child(20){
  /* Ponte Pietra */
  grid-column: 1/span 3;
  grid-row: 15 /span 1;
}
.italyGalleryWrap .grid a:nth-child(21){
  /* Fontana piazza erbe */
  grid-column: 3/span 1;
  grid-row: 16 /span 1;
}
.italyGalleryWrap .grid a:nth-child(22){
  /* Scala della ragione */
  grid-column: 3/span 1;
  grid-row: 17 /span 1;
}
.italyGalleryWrap .grid a:nth-child(24){ 
  /* Madonna della Corona */
  grid-column: 1/span 2;
  grid-row: 16/span 3;
}
.italyGalleryWrap .grid a:nth-child(23){
  /* Duomo di Milano */
  grid-column: 1/span 2;
  grid-row: 20 /span 2;
}
.italyGalleryWrap .grid a:nth-child(25){
  /* Duomo Roof */
  grid-column: 3/span 1;
  grid-row: 18 /span 1;
}


/******* Events Gallery *******/
.eventsGalleryWrap .grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  justify-items: center;
  align-items: center;
  height: 100%;
}
.eventsGalleryWrap .grid a:first-child{
  grid-column: 1 /span 5;
  grid-row: 1 /span 1;
}
.eventsGalleryWrap .grid a:nth-child(2){
  grid-column: 1 /span 2;
  grid-row: 2 /span 2;
}
.eventsGalleryWrap .grid a:nth-child(3){
  grid-column: 3 /span 3;
  grid-row: 2/span 1;
}
.eventsGalleryWrap .grid a:nth-child(4){
  grid-column: 3 /span 3;
  grid-row: 3/span 3;
}
.eventsGalleryWrap .grid a:nth-child(5){
  grid-column: 1 /span 2;
  grid-row: 4 /span 2;
}
.eventsGalleryWrap .grid a:nth-child(6){
  grid-column: 1 /span 5;
  grid-row: 6 /span 1;
}
.eventsGalleryWrap .grid a:nth-child(7){
  grid-column: 4 /span 2;
  grid-row: 7 /span 2;
}
.eventsGalleryWrap .grid a:nth-child(8){
  grid-column: 1 /span 3;
  grid-row: 7 /span 1;
}
.eventsGalleryWrap .grid a:nth-child(9){
  grid-column: 1 /span 3;
  grid-row: 8 /span 3;
}
.eventsGalleryWrap .grid a:nth-child(10){
  grid-column: 4 /span 2;
  grid-row: 9 /span 1;
}
.eventsGalleryWrap .grid a:nth-child(11){
  grid-column: 4 /span 2;
  grid-row: 10 /span 2;
}
.eventsGalleryWrap .grid a:nth-child(12){
  grid-column: 1 /span 3;
  grid-row: 11 /span 2;
}
.eventsGalleryWrap .grid a:nth-child(13){
  grid-column: 4 /span 2;
  grid-row: 12 /span 3;
}
.eventsGalleryWrap .grid a:nth-child(14){
  grid-column: 1 /span 3;
  grid-row: 13 /span 2;
}
.eventsGalleryWrap .grid a:nth-child(15){
  grid-column: 1 /span 5;
  grid-row: 16 /span 1;
}

.eventsGalleryWrap .grid img,
.eventsGalleryWrap .grid a,
.italyGalleryWrap .grid img,
.italyGalleryWrap .grid a,
.socialGalleryWrap .grid img,
.socialGalleryWrap .grid a,
.theatreGalleryWrap .grid img,
.theatreGalleryWrap .grid a,
.galleryWrap .grid img,
.galleryWrap .grid a{
  width: 100%;
  height: 100%;
}


/******
About
*******/

.aboutWrap .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blurb{
  padding-top: 2em;
}

#about-wrapper{
  position: static;
}


/*****************
Margins and padding
*******************/

/* Margins */
.my-1{
  margin: 1rem 0;
}

.my-2{
  margin: 1.5rem 0;
}

.my-3{
  margin: 2rem 0;
}

.my-4{
  margin: 3rem 0;
}

.my-5{
  margin: 4rem 0;
}

.mx-1{
  margin: 0 1rem;
}

.mx-2{
  margin: 0 1.5rem;
}

.mx-3{
  margin: 0 2rem;
}

.mx-4{
  margin: 0 3rem;
}

.mx-5{
  margin: 0 4rem;
}

.m-1{
  margin: 1rem;
}

.m-2{
  margin: 1.5rem;
}

.m-3{
  margin: 2rem;
}

.m-4{
  margin: 3rem;
}

.m-5{
  margin: 4rem;
}

/* Padding */
.py-1{
  padding: 1rem 0;
}

.py-2{
  padding: 1.5rem 0;
}

.py-3{
  padding: 2rem 0;
}

.py-4{
  padding: 3rem 0;
}

.py-5{
  padding: 4rem 0;
}

.px-1{
  padding: 0 1rem;
}

.px-2{
  padding: 1 0.5rem;
}

.px-3{
  padding: 0 2rem;
}

.px-4{
  padding: 0 3rem;
}

.px-5{
  padding: 0 4rem;
}

.p-1{
  padding: 1rem;
}

.p-2{
  padding: 1.5rem;
}

.p-3{
  padding: 2rem;
}

.p-4{
  padding: 3rem;
}

.p-5{
  padding: 4rem;
}


/******
      Media Queries 
                *************************************************************/


@media(max-width: 399px){
   
  #picturasdeljohn {
      line-height: 1.3;
      text-align: center;
      margin-bottom: 1rem;
    }
  }


@media(min-width: 768px){
  
  #picturasdeljohn {
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }


  .picsBy h1{
    font-size: 6rem;
  }

  .mega-grid{
    display: flex;
  }

  .mega-page,
  .mega-about{
    max-width: 1400px;
    margin: 0 auto;
  }


  .navibarWrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  .navibarWrapper nav {
    /* flex-direction: column; */
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .navibarWrapper nav h2 {
    font-size: 2.5rem; 
    margin-bottom: 2rem;
  }

  .navibarWrapper nav ul {
    flex-direction: column;
    gap: 2rem;
  }

  .navibarWrapper nav ul li{
    font-size: 1.6rem;
  }
  
  .navibarWrapper {
    min-width: 332px;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .dropdown-menu{
    position: absolute;
    top: -0.8rem;
    left: 6.5rem;
    transform: translateX(-20px);
    /* flex-direction: column; */
    /* gap: 0.5rem; */
  }
  
  .active > .link + .dropdown-menu { 
    transform: translateX(0);
  }

  /* Forms @Media Query*/

  form{
    width: 640px
  }
  
  /* Galleries @Media Query*/
  
  /* .italyGalleryWrap .grid, */
  /* .socialGalleryWrap .grid, */
  /* .theatreGalleryWrap .grid,  */
  .galleryWrap .grid
  {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .galleryWrap .grid a:nth-child(4){
    grid-column: 4 / span 2 ;
    grid-row: 2  / span 2;
  }
  .galleryWrap .grid a:nth-child(14){
    grid-column: 1 / span 2 ;
    grid-row: 4  / span 2;
  }
  .galleryWrap .grid a:nth-child(7){
    grid-column: 4 / span 1 ;
    grid-row: 5  / span 1;
  }
  .galleryWrap .grid a:nth-child(5){
    grid-column: 4 / span 2 ;
    grid-row: 1  / span 1;
  }
  .galleryWrap .grid a:nth-child(10){
    grid-column: 3 / span 1 ;
    grid-row: 5  / span 1;
  }
  .galleryWrap .grid a:nth-child(12){
    grid-column: 1 / span 1 ;
    grid-row: 6  / span 1;
  }
  .galleryWrap .grid a:nth-child(11){
    grid-column: 4 / span 2 ;
    grid-row: 5  / span 2;
  }
  .galleryWrap .grid a:nth-child(16){
    grid-column: 3 / span 2 ;
    grid-row: 4 / span 1;
  }
  .galleryWrap .grid a:nth-child(15){
    grid-column: 2 / span 2 ;
    grid-row: 6 / span 2;
  }
   .galleryWrap .grid a:nth-child(17){
    grid-column: 4 / span 2 ;
    grid-row: 7 / span 2;
  }
  .galleryWrap .grid a:nth-child(18){
    grid-column: 1 / span 1 ;
    grid-row: 7 / span 1;
  }
  .galleryWrap .grid a:nth-child(19){
    grid-column: 3/ span 1 ;
    grid-row: 8 / span 1;
  }
  .galleryWrap .grid a:nth-child(20){
    grid-column: 1 / span 2 ;
    grid-row: 8 / span 1;
  }
  
  .theatreGalleryWrap .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .theatreGalleryWrap .grid a:first-child{
    grid-column:1 /span 4;
    grid-row: 1 /span 2;
  }
  .theatreGalleryWrap .grid a:nth-child(2){
    grid-column:5/span 2;
    grid-row: 1 /span 1;
  }
  .theatreGalleryWrap .grid a:nth-child(3){
    grid-column:5/span 2;
    grid-row: 2/span 1;
  }
  .theatreGalleryWrap .grid a:nth-child(4){
    grid-column: 1/span 3;
    grid-row: 3/span 1;
  }
  .theatreGalleryWrap .grid a:nth-child(5){
    grid-column: 4/span 3;
    grid-row: 3/span 1;
  }
  .theatreGalleryWrap .grid a:nth-child(6){
    grid-column: 1/span 2;
    grid-row: 4/span 1;
  }
  .theatreGalleryWrap .grid a:nth-child(7){
    grid-column: 3/span 2;
    grid-row: 4/span 1;
  }
  .theatreGalleryWrap .grid a:nth-child(8){
    grid-column: 4/span 3;
    grid-row: 5/span 1;
  }
  .theatreGalleryWrap .grid a:nth-child(9){
    grid-column: 5/span 2;
    grid-row: 4/span 1;
  }
  .theatreGalleryWrap .grid a:nth-child(10){
    grid-column: 1/span 3;
    grid-row: 5/span 1;
  }
  .theatreGalleryWrap .grid a:nth-child(11){
    grid-column: 1/span 2;
    grid-row: 6/span 2;
  }
  .theatreGalleryWrap .grid a:nth-child(12){
    grid-column: 3/span 2;
    grid-row: 6/span 2;
  }
   
 
  .socialGalleryWrap .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .socialGalleryWrap .grid a:first-child{
    grid-column:1 /span 5;
    grid-row: 1 /span 2;
  }
  .socialGalleryWrap .grid a:nth-child(3){
    grid-column: 1 /span 2;
    grid-row: 3 /span 2;
  }
  .socialGalleryWrap .grid a:nth-child(2){
    grid-column: 3 /span 3;
    grid-row: 3 /span 1;
  }
  .socialGalleryWrap .grid a:nth-child(4){
    grid-column: 3 /span 3;
    grid-row: 4 /span 2 ;
  }
  .socialGalleryWrap .grid a:nth-child(5){
    grid-column: 1 /span 2;
    grid-row: 5 /span 2;
  }
  .socialGalleryWrap .grid a:nth-child(6){
    grid-column: 3 /span 3;
    grid-row: 6/span 1;
  }
  .socialGalleryWrap .grid a:nth-child(7){
    grid-column: 1 /span 3;
    grid-row: 7 /span 1;
  }


  .italyGalleryWrap .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .italyGalleryWrap .grid a:nth-child(2){
    grid-column: 1 /span 4;
    grid-row: 1/span 1;
  }
  .italyGalleryWrap .grid a:nth-child(7){
    grid-column: 5/span 2;
    grid-row: 1/span 1;
  }
 
  .italyGalleryWrap .grid a:nth-child(8){
    grid-column: 3 /span 4;
    grid-row: 2/span 1;
  }
  .italyGalleryWrap .grid a:nth-child(9){
    grid-column: 1 /span 2;
    grid-row: 2/span 1;
  }
  .italyGalleryWrap .grid a:nth-child(4){
    grid-column: 1 /span 4;
    grid-row: 3 /span 1;
  }
  .italyGalleryWrap .grid a:nth-child(3){
    grid-column: 5 /span 2;
    grid-row: 3/span 1;
  }
  .italyGalleryWrap .grid a:nth-child(5){
    grid-column: 1 /span 6;
    grid-row: 4/span 1;
  }
  .italyGalleryWrap .grid a:first-child{
    grid-column: 1 /span 3;
    grid-row: 5/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(6){
    grid-column: 4 /span 3;
    grid-row: 5/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(10){
    grid-column: 1 /span 3;
    grid-row: 6/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(11){
    grid-column: 4 /span 3;
    grid-row: 6/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(20){
    /* Ponte Pietra */
    grid-column: 1 /span 6;
    grid-row: 7/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(19){
    /* Curva Adige su Ponte Pietra */
    grid-column: 1 /span 2;
    grid-row: 8/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(16){
    /* Curva Adige su Ponte Pietra */
    grid-column: 3 /span 4;
    grid-row: 8/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(13){
    /* Panoramica Castel S.Pietro */
    grid-column: 1 /span 6;
    grid-row: 9/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(12){
    /* Panoramica castel S.Pietro */
    grid-column: 1 /span 2;
    grid-row: 10/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(17){
    /* Panoramica castel S.Pietro */
    grid-column: 3 /span 4;
    grid-row: 10/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(22){
    /* Scala della Ragione */
    grid-column: 1 /span 4;
    grid-row: 11/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(15){
    /* Torre lamberti */
    grid-column: 5 /span 2;
    grid-row: 11/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(18){
    /* Facce Fontana Piazza Erbe */
    grid-column: 4 /span 3;
    grid-row: 12/span 1;
  } 
  .italyGalleryWrap .grid a:nth-child(21){
    /* Donna Fontana  Piazza Erbe */
    grid-column: 4/span 3;
    grid-row: 13/span 1;
  } 
 
  .italyGalleryWrap .grid a:nth-child(24){ 
    /* Madonna della Corona */
    grid-column: 1/span 3;
    grid-row: 12/span 2;
  } 
  .italyGalleryWrap .grid a:nth-child(23){
    /* Duomo di Milano */
    grid-column: 1/span 6;
    grid-row: 15/span 1;
  }  

  .italyGalleryWrap .grid a:nth-child(25){
    /* Duomo Roof */
    grid-column: 1/span 3;
    grid-row: 16/span 1;
  }  

  /* Events Gallery maintains the same grid configuration as per mobile format */


}

@media(min-width: 1400px){
  .mega-page{
    max-width: 1400px;
    justify-content: center;
  }
  .index-page{
    max-width: 1950px;
    justify-content: center;
  }
}